.background {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.column {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
}

.column > div {
  font-size: 1.5em;
  width: 115px;
  height: 85px;
  margin: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.7);
  color: #fdfdfd;
}

.a-column {
  background: #2a4952;

}

.b-column {
  background: #336675;
}

.c-column {
  background: #3f7c8f;
}

.d-column {
  background: #4991a7;
}

.e-column {
  background: #57adc7;
}

.here {
  border: red 3px solid;
}

.form-inline {
  justify-content: center;
  margin-top: 2em;
}

.result {
  text-align: center;
  font-size: 1.2em;
  font-style: bold;
  margin-top: 1em;
}

.error {
  color: red;
}
